.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .faq-contacto {
    background-color: #003366;
    color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faq-contacto:hover {
    background-color: #0055aa;
  }
  
  .faq-medio {
    color: rgb(24, 53, 151);
    padding: 10px;
    background-color: #ffffff;
    border-left: 4px solid #003366;
  }
  